body{
  margin: 0;
  padding: 0;
  font-family: Arial;
  /* needs to be noto-sans eventually, remember how to download that */
  background-color: #2a4163;
  height: 100%;
}
.banner img{
  width: 100%;
  position: absolute;
}


/* this is the style area for the background stripes
currently they are done responsively as percentages
of the total viewport width, but i think witth elements
on top of the stripes this might not be the best*/
#container_blue{
  position: absolute;
  z-index: -1;
  width: 18%;
  left: 10%;
}
.stripe_blue{
  position: absolute;
  width: 100%;
  height: 3000px;
  top: 0;
  margin: 0;
  background: #237AFA;
}
#container_aqua{
  position: absolute;
  z-index: -1;
  width: 18%;
  left: 30%
}
.stripe_aqua{
  position: absolute;
  width: 100%;
  height: 3000px;
  top: 0;
  background: #10ddcc;
}
#container_orange{
  position: absolute;
  z-index: -1;
  width: 18%;
  left: 50%
}
.stripe_orange{
  position: absolute;
  width: 100%;
  height: 3000px;
  top: 0;
  background: #f77660;
}
#container_yellow{
  position: absolute;
  z-index: -1;
  width: 18%;
  left: 70%;
}
.stripe_yellow{
  position: absolute;
  width: 100%;
  height: 3000px;
  top: 0;
  background: #f9e68b;
}

.logo_background{
  position: ;
  width: 100%;
  top: 2500px;
  left: 0;
  height: 145px;
  background: #2a4163
}
#logo{
  position: absolute;
  top: 25px;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* this is the css for the nav bar */
nav{
  position: absolute;
  z-index: 2;
  padding: 20px;
  top: 50px;
}
nav li {
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
}
nav li a{
  text-decoration: none;
  color: #ffffff;
}
nav li a.home{
  color: #f9e68b;
  /* because thats the page youre on */
}
